ion-card {
  border: 2px #92949c solid;
}

.negrito {
  font-weight: bold;
}

.descricao {
  color: #808289;
}

.umidade {
  color: #36abe0;
}

.vento {
  color: #4854e0;
}

.nas-sol {
  color: #e0ac08;
}

.por-sol {
  color: #1e2023;
}

.minimo {
  color: #3171e0;
}

.maximo {
  color: #cf3c4f;
}
